@model CollaborateDataAccessLayer.Card

@using (Ajax.BeginForm("UpdateCard", "Board", new AjaxOptions { OnSuccess = "UpdateCard(" + Model.IDCard + ")" }, htmlAttributes: new { @class = "form-horizontal container" }))
{

    @Html.HiddenFor(model => model.ColumnID)
    @Html.HiddenFor(model => model.IDCard)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-2" })
        @Html.EditorFor(model => model.Name, new { @class = "form-control col-md-5", @maxlength="40" })

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-2" })
        @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control col-md-5" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Points, htmlAttributes: new { @class = "col-md-2" })
        @Html.DropDownListFor(model => model.Points, ViewBag.StoryPoints as List<SelectListItem>, htmlAttributes: new { @class = "form-control col-md-5" })
    </div>


    <div class="form-group">
        <input type="submit" value="Save Card" class="btn btn-default" />
    </div>
}


